@import "~bootstrap/scss/bootstrap";

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

.odw-container {
    height: 100vh;
}

@font-face {
    font-family: 'Cyberpunk';
    src: url('./Cyberpunk.ttf') format('truetype');
}

h1 {
    font-family: 'Cyberpunk';
    color: yellow;
    text-shadow: 2px 2px 0px rgb(71, 185, 232);
}

.odw-bigbig-font {
    font-size: 80px;
}

.odw-big-font {
    font-size: 32px;
}

.odw-medium-font {
    font-size: 32px;
}

#unit-display {
    margin-top: 25px;
}


#temp-div {
    display: flex;
}